<h1>Editing monster card</h1>

<%= render "form", monster_card: @monster_card %>

<br>

<div>
  <%= link_to "Show this monster card", @monster_card %> |
  <%= link_to "Back to monster cards", monster_cards_path %>
</div>
